.title {
    margin: auto;
    text-align: center;
    font-size: 50px;
}

.fontFam{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Main div for calculator */
.main-div{
    margin: auto;
    background-image: linear-gradient(-45deg, #75ef9e, yellow);
    width: 350px;
    height: 600px;
    border: 4px solid black;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    padding: 30px;

}

/* Display inline block label last results and text area */
.blocks{
    width: 165px;
    display: inline-block;
    margin: auto;
    text-align: center;
}

/* Last Results text area */
#lastRes{
    margin: 0px;
    height: 30px;
    width: 161px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-top-width: 1px;
    resize: none;
    font-size: 20px;
}


.textArea{
    width: 90%;
    border: solid black;
    height: 70px;
    display: inline-block;
}

#textAreaId{
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding-bottom: -40px;
    resize: none;
}

.divZero{
    margin: auto;
    padding 10px;
    display: inline;
}

.divButtons{
    padding: 5;
    width: 100%;
    height: 60%%;
}


.buttons{
    margin: auto;
    width: 23%;
    height: 100px;
    border-radius: 100%;
    font-size: 30px;
    background: rgba(255,255,255,0.5);
    /* border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px; */
    border-width: 3px;
    text-align: center;
}

.operands {
    background: rgba(249, 77, 0, 0.5);
}

.dellAndC {
    background: rgb(249, 77, 0)
}
